<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fairy Kingdom</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

Welcome to the Fairy Kingdom <br>
<img src="data:image/png;base64,{{contents}}"/>
	<div>
        <a href="home" class="btn btn-primary btn-lg active" role="button">Expore </a>
        <a href="login" class="btn btn-primary btn-lg active" role="button">Login</a>
        <a href="register" class="btn btn-primary btn-lg active" role="button">Register</a>
	</div>

</body>
</html>