<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fairy Kingdom</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div>
    {% if admin %}
    <a href="db" class="btn btn-primary btn-lg active" role="button">DB List</a>
    {% endif %}
    <a href="montage8" class="btn btn-primary btn-lg active" role="button">Montage 8 random</a>
    <a href="montage12" class="btn btn-primary btn-lg active" role="button">Montage 1st 12</a>
    <a href="montage100" class="btn btn-primary btn-lg active" role="button">Montage 1st 48</a>
    {% if auth %}
    <a href="logout" class="btn btn-primary btn-lg active" role="button">LOGOUT</a>
    {% endif %}
    {% if not auth %}
    <a href="login" class="btn btn-primary btn-lg active" role="button">LOGIN</a>
    <a href="register" class="btn btn-primary btn-lg active" role="button">REGISTER</a>
    {% endif %}

</div>
Welcome to the Fairy Kingdom <br>
<img src="data:image/png;base64,{{contents}}"/>
	<div>
        <a href="home" class="btn btn-primary btn-lg active" role="button">New Random Fairy from World </a>
        <a href="fcard" class="btn btn-primary btn-lg active" role="button">New Random Fairy with Charactoristics</a>
        <a href="fdetailcard" class="btn btn-primary btn-lg active" role="button">New Random Fairy with detail info</a>
	</div>

</body>
</html>