<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fairy Kingdom</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
Welcome to the Fairy Kingdom <br>
<img src="data:image/png;base64,{{contents}}"/>

	<div>
	<a href="db" class="btn btn-primary btn-lg active" role="button">DB List</a>
	<a href="montage" class="btn btn-primary btn-lg active" role="button">Montage</a>
	</div>
</body>
</html>