<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Fairy Montage</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
Below are 6 random fairies from the Kingdom <br>
<img src="data:image/png;base64,{{contents}}"/>
<div>
	<a href="home" class="btn btn-primary btn-lg active" role="button">Main Page</a>
	<a href="db" class="btn btn-primary btn-lg active" role="button">DB List</a>
	</div>
</body>
</html>