<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Fairy Montage</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div>
    <a href="home" class="btn btn-primary btn-lg active" role="button">Main Page</a>
    <a href="db" class="btn btn-primary btn-lg active" role="button">DB List</a>
    <a href="montage20" class="btn btn-primary btn-lg active" role="button">Montage 8 random</a>
    <a href="montage100" class="btn btn-primary btn-lg active" role="button">Montage 1st 12</a>
</div>
Below are the first 12 fairies from the Kingdom <br>
<img src="data:image/png;base64,{{ contents }}"/>

</body>
</html>